@use './footer.scss';

body{
    color:blue;
}
// 変数
$text-color: orange;
//mixin
@mixin set-margin($direction, $value){
    margin-#{$direction}: $value;
}
body{
    color: $text-color;
    h1{
        @include set-margin(bottom, 20px)
    }
}

.title{
    color: red;
    font-size: 18px;
}
.content{
    .title{
        //@extendでコピーできる
        @extend .title;
        color: aqua;
    }
}
